.nav_bar {
    width: 100%;
}

.navbar {
    width: 100%;
}

.collapse {
    display: flex;
    justify-content: flex-end;

}

.nav-item {
    padding: 5px 8px;
    display: flex;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #000;
}

header {
    background-image: url(../../public/img/carousel-3.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.image {
    height: 70vh;
    object-fit: cover;
    position: relative;

}

.button-header {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: transparent;
    border-color: #fff;
    border-radius: 7px;
    width: 200px;
    height: 30px;
}

.button-compra {
    text-transform: uppercase;
    color: #fff;

}

.button-compra Link {
    text-decoration: none;

}

/************* Detail product ****************/

.detail-product {
    display: flex;
}

.product-image {
    display: grid;
}

.product-information {
    margin: 2%;
    margin-top: 10%;
}

.product-name {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;

}

.product-price {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.add-to-cart {
    color: #fff;
    background: rgb(64, 64, 212);
    width: 170px;
    height: 40px;
    border: none;
    display: flex;
    margin-top: 1rem;
}

.add-to-cart p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

/******************** products *****************/
#title {
    width: 100%;
    margin: 2% 0 2% 0;
}

#title h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.small-container {
    width: 100%;
}

.small-container .d-flex {
    justify-content: center;
}

.small-container .col-4 {
    flex-basis: 30%;
    padding: 10px;
    min-width: 320px;
    margin-bottom: 50px;
    transition: 1s ease;
}

.small-container .col-4:hover {
    transform: translateY(-5px);
}

.small-container .col-4 .card {
    border-style: none;
}

.small-container .col-4 h4 {
    color: #000;
}

.small-container .col-4 p {
    font-size: 14px;
    font-weight: bold;
}

.small-container .col-4 img {
    width: 100%;
}

.small-container .col-4 .btn-primary {
    background: #fff;
    text-transform: uppercase;
    border-radius: 0;
    border-color: #000;
    color: #000;
}

.small-container .col-4 .btn-primary:hover {
    color: #fff;
    background: black;
}

.card-body {
    text-align: center;
}

.card-title {
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.price {
    color: #000;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

/************************* CATEGORIES HOME ********************/
.d-flex {
    margin: 5% 0 5% 0;
    justify-content: space-evenly;
}

.d-flex .categorie {
    width: 22vw;
    height: 75vh;
    object-fit: cover;
    position: relative;
}

.d-flex .categorie img {
    width: 22vw;
    height: 75vh;
    object-fit: cover;
    transition: 1s ease;
}

.d-flex .categorie img:hover {
    transform: translateY(-10px) scale(1.02);
}

.d-flex .categorie .title-categorie {
    text-align: center;
    bottom: 5%;
    left: 5%;
    right: 5%;
    position: absolute;
}

.d-flex .categorie .title-categorie h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
}

.d-flex .categorie .title-categorie p {
    text-decoration: underline;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
}


/*********************** Formulario *********************/

form {
    margin: 5rem;
}

.mb-3 {
    width: 60%;

}

.form-label {
    text-transform: uppercase;
}

.mb-3 .btn-dark {
    border-radius: 0;
}

.submit {
    text-transform: uppercase;
}

.home-form {
    width: 100%;
    margin-top: 1.5rem;
}

.brand-form {
    display: flex;
    justify-content: center;
}

/* *********************** Footer *************************/
footer {
    height: 40vh;
    padding: 3rem;
    margin-top: 2rem;
    color: #000;
}

footer .row {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .row .contact {
    width: 30%;
    height: 30vh;
}

footer .row .contact img {
    width: 13vw;
}

footer .row .contact .datos ul h3 {
    text-transform: uppercase;
}

footer .row .contact .datos ul li {
    list-style: none;
}

footer .row .informacion,
footer .row .links {
    width: 30%;
    height: 30vh;
}

footer .row .informacion h3,
footer .row .links h3 {
    text-transform: uppercase;
}

footer .row .informacion li,
footer .row .links li {
    list-style: none;
}

footer .row .informacion .media,
footer .row .links .media {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .row .informacion .media ul,
footer .row .links .media ul {
    display: flex;
    justify-content: space-around;
}

footer .row .informacion .media ul li i,
footer .row .links .media ul li i {
    font-size: large;
    color: #000;
    font-weight: bold;
    margin: 10px;
}

footer #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #copyright i {
    color: red;
    font-weight: bold;
}